.paginator-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0 10px;
}

#current-page{
    font-size: 1.3rem;
    color: #30389c!important;
}